:root {
    --dark: #3a3a3a;
    --light-text: #ddd;
    --darkshadow: rgb(11, 20, 97, 30%)
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    background-color: var(--dark);
    color: var(--light-text);
    padding: 20px;
    height: 85px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: inline;
    padding-right: 10px;
    list-style: none;
}

nav li {
    padding-right: 15px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: var(--light-text);
}

header a {
    font-size: 24px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

section h2 {
    border-right: 2px solid var(--dark);
    color: var(--dark);
}

section div {
    flex: 1;
}

.about-me {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me h2 {
    margin: 20px;
    padding: 10px;
    height: auto;
    min-height: 200px;
    flex-basis: 30%;
    min-width: 100px;
}

.about {
    border: 2px solid var(--dark);
    margin: 20px;
    padding: 10px;
    height: auto;
    min-height: 200px;
    min-width: 400px;
    max-width: auto;
}

.about p {
    float: none;
}



.portrait {
    border-radius: 50%;
    border: 3px solid whitesmoke;
    float: left;
}

.work-examples {
    display: flex;
    flex-direction: row;
    flex: 5;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-examples h2 {
    flex-basis: 30%;
    height: auto;
    /* min-height: 800px; */
    margin: 20px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.primary {
    flex: 100%;
    border: 2px solid var(--dark);
    margin: 20px;
    height: 40%;
    position: relative;
    max-width: 100%;
    width: auto;
    max-height: 400px;
    min-height: 200px;
    height: auto;
}

.project-label {
    background-color: var(--dark);
    color: var(--light-text);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding: 8px;
}

.additional {
    flex: 40%;
    border: 2px solid var(--dark);
    margin: 40px 20px 0px 20px;
    height: 21%;
    min-height: 200px;
    position: relative;
}

#project-1 {
    background-image: url(/assets/images/leaves.jpg);
    background-size: cover;
}

#project-2 {
    background-image: url(/assets/images/peppers.jpg);
    background-size: cover;
}

#project-3 {
    background-image: url(/assets/images/clouds.jpg);
    background-size: cover;
}

#project-4 {
    background-image: url(/assets/images/snow-trees.jpg);
    background-size: cover;
}

#project-5 {
    background-image: url(/assets/images/sunset.jpg);
    background-size: cover;
}

footer {
    background-color: var(--dark);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 20px;
}

footer h2 {
    flex-basis: 30%;
    color: var(--light-text)
}

footer a {
    font-size: 24px;
}

.additional:hover .project-label, .primary:hover .project-label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

/* Responsive layout, stacks Contact Me vertically for easier use */
@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }

    .about-me {
        flex-basis: 0%;
        display: inline;
        border: none;
        min-height: none;
    }

    .about-me h2 {
        margin: 20px;
        padding: 10px;
        height: 40px;
        min-height: 40px;
    }

    section h2 {
        border: none;
        border-bottom: 2px solid var(--dark);
        text-align: left;
    }

    .work-examples {
        display: inline;
    }

    .work-examples h2 {
        height: 40px;
        margin: 20px;
        padding: 10px;
    }

    footer {
        flex-direction: column;
    }
}

/* Stacks nav bar vertically and centers it when screen is too narrow */
@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }
  }
