:root {
    --dark: #0b1461;
    --light-text: #ddd;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    background-color: var(--dark);
    color: var(--light-text);
    padding: 10px;
    height: 85px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    text-align: right;
}

/* nav {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
} */

nav ul {
    display: inline-block;
    padding-right: 15px;
    list-style: none;
}

/* nav li {
    padding-right: 15px;
    margin-right: 10px;
} */

a {
    text-decoration: none;
    color: var(--light-text);
    font-size: 24px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

/* section {
    padding: 10px;
    margin: 5px;
} */

section h2 {
    /* flex: 2;
    justify-content: end; */
    background-color: aqua;
    border: 2px solid black;
}

section div {
    flex: 1;
}

.about-me {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-me h2 {
    background-color: crimson;
    margin: 20px;
    padding: 10px;
    height: 400px;
    flex-basis: 30%;
    min-width: 100px;
}

.about {
    border: 2px dashed black;
    margin: 20px;
    padding: 10px;
    height: 400px;
    min-width: 400px;
    max-width: auto;
}

.work-examples {
    display: flex;
    flex-direction: row;
    flex: 5;
    flex-wrap: wrap;
}

.work-examples h2 {
    flex-basis: 30%;
    height: 1000px;
    margin: 20px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.primary {
    flex: 100%;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    height: 40%;
}

.additional {
    flex: 40%;
    border: 2px solid black;
    padding: 10px;
    margin: 40px 20px 0px 20px;
    height: 21%;
}

footer {
    background-color: salmon;
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }
    #about-title {
        order: 2;
    }
    .about {
        order: 1;
    }
    #portfolio-title {
        order: 4;
    }
    .container {
        order: 3;
    }
}